{% extends 'base/include.html' %}
{% load static %}
{% block body %}
    <!-- End Header/Navigation -->

    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>About Us</h1>
                        <p class="mb-4">Welcome to Furniture, where style, comfort, and quality meet. Founded with a
                            passion for craftsmanship, we offer a curated selection of furniture for every taste and
                            budget. Our team blends innovative design with sustainable materials to create inspiring
                            spaces. Join us in transforming your home!</p>
                        <p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="{% url 'shop' %}"
                                                                                    class="btn btn-white-outline">Explore</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img-wrap">
                        <img src="{% static 'web/images/couch.png' %}" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->


    <!-- Start Why Choose Us Section -->
    <div class="why-choose-section">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <h2 class="section-title">Why Choose Us</h2>
                    <p>Choose us for our expertly crafted furniture made from sustainable materials. Enjoy unique
                        designs and affordable luxury tailored to your style.</p>

                    <div class="row my-5">
                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="{% static 'web/images/truck.svg' %}" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Fast &amp; Free Shipping</h3>
                                <p>Get your furniture delivered to your doorstep at no extra cost, no matter the order
                                    size.</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="{% static 'web/images/bag.svg' %}" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Easy to Shop</h3>
                                <p>Browse, select, and order your favorite furniture pieces with just a few clicks.</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="{% static 'web/images/support.svg' %}" alt="Image" class="imf-fluid">
                                </div>
                                <h3>24/7 Support</h3>
                                <p>Our team is here to assist you anytime, ensuring a smooth and stress-free shopping
                                    experience.</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="{% static 'web/images/return.svg' %}" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Hassle Free Returns</h3>
                                <p>Not satisfied? Return or exchange your purchase easily within 30 days.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="img-wrap">
                        <img src="{% static 'web/images/why-choose-us-img.jpg' %}" alt="Image" class="img-fluid">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Why Choose Us Section -->

    <!-- Start Team Section -->
    <div class="untree_co-section">
        <div class="container">

            <div class="row mb-5">
                <div class="col-lg-5 mx-auto text-center">
                    <h2 class="section-title">Our Team</h2>
                </div>
            </div>

            <div class="row">

                <!-- Start Column 1 -->
                {% for team_member in team_members %}
                    <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                        <img src="{{ team_member.image }}" class="img-fluid mb-5">
                        <h3 class><a href="#"><span class="">{{ team_member.name }}</span></a></h3>
                        <span class="d-block position mb-4">{{ team_member.title }}</span>
                        <p>{{ team_member.description }}</p>
                        <p class="mb-0"><a href="#" class="more dark">Learn More <span
                                class="icon-arrow_forward"></span></a></p>
                    </div>

                {% endfor %}

                <!-- End Column 1 -->


            </div>
        </div>
    </div>
    <!-- End Team Section -->

{% endblock %}