{% extends 'base/include.html' %}
{% load static %}

{% block body %}
    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Elegant Home <span class="d-block">Decor Solutions </span></h1>
                        <p class="mb-4">Transform your space with timeless furniture.</p>
                        <p><a href="{% url 'shop' %}" class="btn btn-secondary me-2">Shop Now</a><a
                                href="{% url 'shop' %}"
                                class="btn btn-white-outline">Explore</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img-wrap">
                        <img src="{% static 'web/images/couch.png' %}" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->

    <!-- Start Product Section -->
    <div class="product-section">
        <div class="container">
            <div class="row">

                <!-- Start Column 1 -->
                <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                    <h2 class="mb-4 section-title">Designed with Premium Quality.</h2>
                    <p class="mb-4">The best choice for your home – quality and aesthetics in one. </p>
                    <p><a href="{% url 'shop' %}" class="btn">Explore</a></p>
                </div>
                <!-- End Column 1 -->

                <!-- Start Column 2 -->
                {% for product in products %}
                    <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                        <a class="product-item" href="{% url 'shop' %}">
                            <img src="{{ product.image.url }}" class="img-fluid product-thumbnail">
                            <h3 class="name">{{ product.name }}</h3>
                            <strong class="price">${{ product.price }}</strong>

                            <span class="icon-cross">
								<img src="{% static 'web/images/cross.svg' %}" class="img-fluid">
							</span>
                        </a>
                    </div>
                {% endfor %}

                <!-- End Column 2 -->


            </div>
        </div>
    </div>
    <!-- End Product Section -->

    <!-- Start Why Choose Us Section -->
    <div class="why-choose-section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <h2 class="section-title">Why Choose Us</h2>
                    <p>We’re committed to bringing you the best in furniture design, quality, and service. Discover why
                        customers trust us for their home decor needs.</p>

                    <div class="row my-5">
                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="{% static 'web/images/truck.svg' %}" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Fast &amp; Free Shipping</h3>
                                <p>Get your furniture delivered to your doorstep at no extra cost, no matter the order
                                    size.</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="{% static 'web/images/bag.svg' %}" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Easy to Shop</h3>
                                <p>Browse, select, and order your favorite furniture pieces with just a few clicks.</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="{% static 'web/images/support.svg' %}" alt="Image" class="imf-fluid">
                                </div>
                                <h3>24/7 Support</h3>
                                <p>Our team is here to assist you anytime, ensuring a smooth and stress-free shopping
                                    experience.</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="{% static 'web/images/return.svg' %}" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Hassle Free Returns</h3>
                                <p>Not satisfied? Return or exchange your purchase easily within 30 days.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="img-wrap">
                        <img src="{% static 'web/images/why-choose-us-img.jpg' %}" alt="Image" class="img-fluid">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Why Choose Us Section -->

    <!-- Start We Help Section -->
    <div class="we-help-section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="imgs-grid">
                        <div class="grid grid-1"><img src="{% static 'web/images/img-grid-1.jpg' %}" alt="Untree.co">
                        </div>
                        <div class="grid grid-2"><img src="{% static 'web/images/img-grid-2.jpg' %}" alt="Untree.co">
                        </div>
                        <div class="grid grid-3"><img src="{% static 'web/images/img-grid-3.jpg' %}" alt="Untree.co">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 ps-lg-5">
                    <h2 class="section-title mb-4">We Help You Make Modern Interior Design</h2>
                    <p>Add a touch of nature with our Verdant Glow Plant Set. These lush indoor plants bring vibrancy to
                        your living room or office. Paired with sleek ceramic pots, they’re the perfect accent for a
                        contemporary, urban aesthetic.</p>

                    <ul class="list-unstyled custom-list my-4">
                        <li>Embrace Minimalism: Choose sleek furniture with clean lines for a chic look</li>
                        <li>Add Cozy Accents: Layer plush cushions and soft throws on your sofa.</li>
                        <li>Incorporate Indoor Plants: Bring life to your space with trendy greenery.</li>
                        <li>Focus on Comfort: Select seating that balances style and relaxation.</li>
                    </ul>
                    <p><a href="{% url 'shop' %}" class="btn">Explore</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End We Help Section -->

    <!-- Start Popular Product -->
    <div class="popular-product">
        <div class="container">
            <div class="row">
                {% for product in products %}
                    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <div class="product-item-sm d-flex">
                            <div class="thumbnail">
                                <img src="{{ product.image.url }}" alt="Image" class="img-fluid">
                            </div>
                            <div class="pt-3">
                                <h3>{{ product.name }}</h3>
                                <p>{{ product.description }} </p>
                                <p><a href="#">Read More</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </div>
    <!-- End Popular Product -->

    <!-- Start Blog Section -->
    <div class="blog-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6">
                    <h2 class="section-title">Recent Blog</h2>
                </div>
                <div class="col-md-6 text-start text-md-end">
                    <a href="{% url 'blog' %}" class="more">View All Posts</a>
                </div>
            </div>

            <div class="row">

                <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                    <div class="post-entry">
                        <a href="#" class="post-thumbnail"><img src="{% static 'web/images/post-1.jpg' %}" alt="Image"
                                                                class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3><a href="#">First Time Home Owner Ideas</a></h3>
                            <div class="meta">
                                <span>by <a href="#">Kristin Watson</a></span> <span>on <a
                                    href="#">Dec 19, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                    <div class="post-entry">
                        <a href="#" class="post-thumbnail"><img src="{% static 'web/images/post-2.jpg' %}" alt="Image"
                                                                class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3><a href="#">How To Keep Your Furniture Clean</a></h3>
                            <div class="meta">
                                <span>by <a href="#">Robert Fox</a></span> <span>on <a href="#">Dec 15, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                    <div class="post-entry">
                        <a href="#" class="post-thumbnail"><img src="{% static 'web/images/post-3.jpg' %}" alt="Image"
                                                                class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3><a href="#">Small Space Furniture Apartment Ideas</a></h3>
                            <div class="meta">
                                <span>by <a href="#">Kristin Watson</a></span> <span>on <a
                                    href="#">Dec 12, 2021</a></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Blog Section -->

{% endblock %}