{% extends 'base/include.html' %}
{% load static %}
{% block body %}

    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Our Services – Enhancing Your Furniture Experience</h1>
                        <p class="mb-4">From design to delivery, we offer a range of services to make your furniture
                            shopping journey seamless and enjoyable.</p>
                        <p><a href="{% url 'shop' %}" class="btn btn-secondary me-2">Shop Now</a><a
                                href="{% url 'shop' %}"
                                class="btn btn-white-outline">Explore</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img-wrap">
                        <img src="{% static 'web/images/couch.png' %}" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->

    <!-- Start Why Choose Us Section -->
    <div class="why-choose-section">
        <div class="container">


            <div class="row my-5">
                <div class="col-6 col-md-6 col-lg-3 mb-4">
                    <div class="feature">
                        <div class="icon">
                            <img src="{% static 'web/images/truck.svg' %}" alt="Image" class="imf-fluid">
                        </div>
                        <h3>Fast &amp; Free Shipping</h3>
                        <p>Get your furniture delivered to your doorstep at no extra cost, no matter the order size.</p>
                    </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-4">
                    <div class="feature">
                        <div class="icon">
                            <img src="{% static 'web/images/bag.svg' %}" alt="Image" class="imf-fluid">
                        </div>
                        <h3>Easy to Shop</h3>
                        <p>Browse, select, and order your favorite furniture pieces with just a few clicks.</p>
                    </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-4">
                    <div class="feature">
                        <div class="icon">
                            <img src="{% static 'web/images/support.svg' %}" alt="Image" class="imf-fluid">
                        </div>
                        <h3>24/7 Support</h3>
                        <p>Our team is here to assist you anytime, ensuring a smooth and stress-free shopping
                            experience.</p>
                    </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-4">
                    <div class="feature">
                        <div class="icon">
                            <img src="{% static 'web/images/return.svg' %}" alt="Image" class="imf-fluid">
                        </div>
                        <h3>Hassle Free Returns</h3>
                        <p>Not satisfied? Return or exchange your purchase easily within 30 days.</p>
                    </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-4">
                    <div class="feature">
                        <div class="icon">
                            <img src="{% static 'web/images/truck.svg' %}" alt="Image" class="imf-fluid">
                        </div>
                        <h3>Interior Design Consultation</h3>
                        <p>Get expert advice to transform your space with our professional interior design services.</p>
                    </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-4">
                    <div class="feature">
                        <div class="icon">
                            <img src="{% static 'web/images/bag.svg' %}" alt="Image" class="imf-fluid">
                        </div>
                        <h3>Free Assembly & Installation</h3>
                        <p>We’ll assemble and install your furniture for free, so you can enjoy it right away.</p>
                    </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-4">
                    <div class="feature">
                        <div class="icon">
                            <img src="{% static 'web/images/support.svg' %}" alt="Image" class="imf-fluid">
                        </div>
                        <h3>A computer screen or a VR headset.</h3>
                        <p>Explore our furniture in 3D with our virtual showroom, from the comfort of your home.</p>
                    </div>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-4">
                    <div class="feature">
                        <div class="icon">
                            <img src="{% static 'web/images/return.svg' %}" alt="Image" class="imf-fluid">
                        </div>
                        <h3>A pencil and ruler or a design blueprint.</h3>
                        <p>Create your dream furniture with our bespoke design service, tailored to your style and
                            space.\</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- End Why Choose Us Section -->

{% endblock %}